<!--{{formulario.value | json}} -->

<!-- FORMULÁRIO -->
 <form [formGroup]="formulario">
  <input type="number"  class="form-control" formControlName="id"    readonly>
  <input type="text"    class="form-control" formControlName="nome"  placeholder="Nome">
  <input type="number"  class="form-control" formControlName="valor" placeholder="Valor">

  <input type="button"  class="btn btn-primary"  value="Cadastrar"  *ngIf="btnCadastrar"  (click)="cadastrar()">
  <input type="button"  class="btn btn-primary"  value="Alterar"    *ngIf="!btnCadastrar" (click)="alterar()">
  <input type="button"  class="btn btn-primary"  value="Remover"    *ngIf="!btnCadastrar" (click)="remover()">
 </form>

 <!-- TABELA -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Valor</th>
        <th>Selecionar</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let v of vetor; let indice = index">
        <td>{{indice + 1}}</td>
        <td>{{v.nome}}</td>
        <td>{{v.valor}}</td>
        <td><button class="btn btn-primary" (click)="selecionarProduto(indice)">Selecionar</button></td>
      </tr>
    </tbody>
  </table>
